*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    color: black;

}
body{
    background-image: url(./views/img/flor.jpg);
}
#sec-pai{
    display: flex;
    align-items: center;
    justify-content: center;
}
#sec-menu{
    display: flex;
    width: fit-content;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
#ul-menu{
    display: flex;
    flex-direction: column;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 30px 20px;
    gap: 25px;
    width: 600px;
    height: 800px;
    justify-content: center;
    align-items: center;
}
#li-menu{
}
.a-menu{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight:900;
}
